/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@import "./reset.scss";
@import "./editor-styles.scss";

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;
// Test

$blue: rgb(0, 128, 0);
$green: rgba(128, 128, 0, 0.25);

body {
  background: url(http://lorempixel.com/1920/1920/cats/) no-repeat center center fixed; 
  background-size: cover;
  padding: 32px;
}

img {
  opacity: 0.75;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.playground__body {
	padding-top: 20px;

	img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
	}

	.components-navigate-regions {
		height: 100%;
	}
}
