/*
 * Styles for the Glitch editor page
 * These will not be included in the downloadable plugin
 */

@import "common.scss";

body {
  padding: 0;
}

img {
  // opacity: 0.75;
}

h1, h2, h3, h4, h5, h6 {
  // color: white;
}

section {
  border-bottom: 1px solid $gray;
  padding: 1em 2em;
}

@media only screen and ( min-width: 960px ) {
	
}